<div class="column form-row">
  <div class="form-column" id="askforme_container">
    <form class="column" id="{{ site.askforme.form_id }}" method="POST" action="{{ site.askforme.url | remove: "/viewform" | append: "/formResponse?embedded=true" }}" target="no target">
      <h2>Ask for me!</h2>
      <p>What would you like to ask the instructor?</p>
      <input type="text" name="{{ site.askforme.text_input_name }}" placeholder="Your question" autocomplete="off">
      <input type="submit" value="Submit">
    </form>
    <div id="form-messages" class="alert"></div>
  </div>
</div>